<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GreenandPlain/style.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
div.error { background-color: red; color: white; padding: 3px; }
  </style>
 </head>
 <body>
  <div id="header">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <!-- end #logo -->
<div id="menu">
    {{=MENU(response.menu,_class='web2py-menu')}}
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
   </div>
   <!-- end #menu -->
  </div>
  <div id="page">
  {{include}}
      <!--  <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
  </div>-->

 </body>
</html>
